<hr>
<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="onAddIngrediente()" [formGroup]="form">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="nome">Nome:</label>
                    <input type="text" 
                    name="nome" 
                    class="form-control"
                    formControlName="nome"
                    required
                    >
                </div>
                <div class="col-sm-2 form-group">
                    <label for="quantia">Quantia:</label>
                    <input type="number" 
                    id="quantia"
                    name="quantia" 
                    class="form-control"
                    formControlName="quantia"
                    required
                    >
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group">
                            <button class="btn btn-success" style="margin: 5px;" type="submit" [disabled]="!form.valid">{{this.modoEdicao? 'Editar' : 'Adicionar'}}</button>
                            <button class="btn btn-danger" type="button" style="margin: 5px;" (click)="itemDeleta()">Deletar</button>
                            <button class="btn btn-primary" type="button" style="margin: 5px;" (click)="limpaIngredientes()">Limpar</button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>