<div class="row">
    <div class="col-xs-12">
        <img [src]="receita[0].imagePath" alt="" class="img-responsive" style="max-height: 300px;">

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{receita[0].nome}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle">
                Gerenciar receitas <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="shoppingService.adicionaIngredient(receita[0].ingredientes)">Enviar para a lista de compras</a>
                    <a [routerLink]="['../',receita[0].nome,'editar']">Editar Receita</a>
                    <a (click)="deletarReceita()" >Deletar Receita</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <pre>{{receita[0].descricao}}</pre>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingrediente of receita[0].ingredientes" > {{ingrediente.nome}} - {{ingrediente.quantia}}</li>
        </ul>
    </div>
</div>
